.card-container {
  width: 80vw;
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 3em;
}

.card {
  background-color: var(--primary-color);
  border-radius: 12px;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.card article {
  padding: 1em;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1 1 200px;
}
.card h2,
.card p {
  margin-top: 0;
}

.card-buttons {
  display: inline-flex;
  align-items: center;
  gap: 1em;
  padding-top: 20px;
  margin-top: auto;
}

.card-button {
  display: inline-flex;
  align-items: center;
  gap: 0.7em;
  padding: 0.5em 0.75em;
  background-color: var(--primary-color);
  color: white;
  font-family: inherit;
  font-size: inherit;
  border: 1px solid var(--text-color);
  text-decoration: none;
  transition: background-color 0.2s;
}

.card-button.expand {
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
  cursor: pointer;
}

.card-button.expand:hover {
  background-color: var(--accent-hover-color);
}

.card-button.github {
  color: var(--text-color);
}

.card-button.github svg {
  fill: var(--text-color);
  transition: fill 0.2s;
}

.card-button.github:hover {
  background-color: var(--secondary-color);
}

.card-button.github:hover svg {
  fill: #0366d6;
}

.tag-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.tag {
  display: inline-block;
  padding: 4px 10px;
  margin: 0.25em 0;
  font-weight: 600;
  border: 2px solid seagreen;
  color: seagreen;
  border-radius: 16px;
}

.card article.read-more {
  flex: 1 1 100%;
  display: none;
}

.card img.card-image {
  object-position: 0 0;
  object-fit: cover;
  border-radius: 12px;
  filter: opacity(100%);
}

.card .read-more-media {
  width: 70vw;
  max-width: 800px;
  height: auto;
}

.card .read-more-media.vertical {
  max-height: 400px;
}

.card.expanded article.read-more {
  display: block;
}

@media (max-width: 600px) {
  .card img.card-image {
    display: none;
  }
}

@media (max-width: 750px) {
  .card {
    font-size: small;
  }
}
