.console {
  background-color: var(--primary-color);
  border-radius: 7px 7px 7px 7px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}

@media (prefers-color-scheme: dark) {
  .console {
    color: white;
  }
}

.console p {
  margin: 0;
}

.console p span {
  display: inline-block;
  vertical-align: top;
}

.title-bar {
  background: var(--secondary-color);
  padding: 10px;
  border-radius: 7px 7px 0 0;
}

.title-bar .title {
  font-weight: bold;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #f9f9f9;
  border-radius: 50%;
}

.dot.red {
  background: #ff6057;
  border: 1px solid #e14640;
}

.dot.amber {
  background: #ffbd2e;
  border: 1px solid #dfa123;
}

.dot.green {
  background: #27c93f;
  border: 1px solid #1dad2b;
}

.text-area {
  padding: 1em 1em 3em;
  height: 10em;
}

.line {
  visibility: hidden;
}

.line-input {
  border-right: 11px solid rgb(157, 157, 157);
  white-space: pre;
  overflow: hidden;
}

@media (max-width: 600px) {
  .console {
    font-size: small;
  }
}

@media (max-width: 400px) {
  .console {
    font-size: x-small;
  }
}

.replay {
  color: var(--accent-color);
  font-size: inherit;
  display: inline-flex;
  gap: 5px;
  padding: 5px;
  text-decoration: none;
}

.replay:visited {
  color: var(--accent-color);
}
