.contact {
  text-align: center;
}

#email-link {
  font-family: "Helvetica Neue";
}

#linkedin-button {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  background-color: #0077b5;
  color: white;
  text-decoration: none;
  padding: 6px 12px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

#linkedin-button svg {
  width: 1.5em;
  height: 1.5em;
  fill: white;
}

#linkedin-button:hover {
  background-color: #005582;
}

#github-button {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  background-color: white;
  color: black;
  text-decoration: none;
  padding: 6px 12px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

#github-button:hover {
  background-color: rgb(215, 215, 215);
}
