.console-container {
  padding: 5% 10% 10%;
}

.splash {
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.down-arrow {
  position: fixed;
  bottom: 30px;
  left: 50%;
  width: 20px;
  height: 20px;
  border-left: 5px solid var(--text-color);
  border-bottom: 5px solid var(--text-color);
  transform: rotate(-45deg);
  cursor: pointer;
}

.splash.hidden {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
}

.content-view {
  min-height: 100vh;
  padding: 100px;
}
.content {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Create two equal-width columns */
  gap: 20px;
}

.column {
  padding: 20px;
}

@media (max-width: 600px) {
  .content {
    grid-template-columns: 1fr;
  }
}
