:root {
  /* Light mode palette */
  --accent-color: #0064d6;
  --accent-hover-color: #0a81ff;
  --background-color: #f5e6cc;
  --primary-color: rgb(255, 255, 255);
  --secondary-color: rgb(241, 241, 239);
  --text-color: #333333;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Dark mode palette */
    --accent-color: #0a81ff;
    --accent-hover-color: #0064d6;
    --background-color: #1c1c1c;
    --primary-color: rgb(36, 36, 36);
    --secondary-color: rgb(57, 56, 56);
    --text-color: #cccccc;
  }
}

body {
  font-family: "Space Mono", serif;
  font-weight: 400;
  font-size: large;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

.no-scroll {
  overflow: hidden;
}
