:root {
  /* Light mode palette */
  --accent-color: #007bff;
  --background-color: #f5e6cc;
  --text-color: #333333;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Dark mode palette */
    --accent-color: #007bff;
    --background-color: #1c1c1c;
    --text-color: #cccccc;
  }
}

body {
  font-family: "Space Mono", serif;
  font-weight: 400;
  font-size: large;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

.no-scroll {
  overflow: hidden;
}
