---
layout: base
permalink: /contact/
title: Mihir Patankar | Contact
description: Mihir Patankar's contact information. Here you can see my email, connect with me on Linkedin, or send me a message.
---

<section class="content-view">
  <article class="content single-column">
    <div class="column contact">
      <h1>Email</h1>
      <p>
        Send me an email at
        <span
          ><a href="mailto:mihir@mihirpatankar.com" id="email-link">
            mihir@mihirpatankar.com
          </a></span
        >
      </p>
      <h1>LinkedIn</h1>
      <p>
        Connect with me on
        <a
          href="https://www.linkedin.com/in/mihir-patankar-208263327/"
          target="_blank"
          id="linkedin-button"
        >
          {% include "partials/linkedin-logo.html" %}
          <span>LinkedIn</span>
        </a>
      </p>
      <h1>GitHub</h1>
      <p>
        Check out my projects on
        <a
          href="https://github.com/mpatankar6"
          target="_blank"
          id="github-button"
        >
          {% include "partials/github-logo.html" %}
          <span>Github</span>
        </a>
      </p>
    </div>
  </article>
</section>
