---
permalink: bundle.css
---
{% set css %}
{% include "css/index.css" %}
{% include "css/header.css" %}
{% include "css/footer.css" %}
{% include "css/console.css" %}
{% include "css/home.css" %}
{% include "css/content.css" %}
{% endset %} {{ css | cssmin | safe }}