<div class="console">
  <div class="title-bar">
    <div class="dot red"></div>
    <div class="dot amber"></div>
    <div class="dot green"></div>
    <span class="title">Terminal — -zsh</span>
  </div>
  <div class="text-area">
    <!-- Date and time text here are placeholders if JS doesn't load -->
    <p>Last login: <span id="datetime">Sat Dec 28 11:56:25</span> on ttys001</p>
    <p class="line">
      mihirpatankar@Mac ~ %
      <span class="line-input"></span>
    </p>
    <p class="line">
      heredoc>
      <span class="line-input"></span>
    </p>
    <p class="line">
      heredoc>
      <span class="line-input"></span>
    </p>
    <p class="line">
      heredoc>
      <span class="line-input"></span>
    </p>
    <p class="line">
      mihirpatankar@Mac ~ %
      <span class="line-input"></span>
    </p>
  </div>
</div>
<a href="/" class="replay" style="display: none"> Replay<span>↻</span></a>
