<table>
  <thead>
    <tr>
      <th>Course Name</th>
      <th>Semester</th>
      <th>Grade</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Fundamentals of Computer Science 1</td>
      <td>Fall 2024</td>
      <td>A</td>
    </tr>
    <tr>
      <td>Discrete Structures</td>
      <td>Fall 2024</td>
      <td>A</td>
    </tr>
    <tr>
      <td>Intensive Mathematical Reasoning</td>
      <td>Fall 2024</td>
      <td>A</td>
    </tr>
    <tr>
      <td>Fundamentals of Computer Science 2</td>
      <td>Spring 2025</td>
      <td>...</td>
    </tr>
    <tr>
      <td>Linear Algebra</td>
      <td>Spring 2025</td>
      <td>...</td>
    </tr>
  </tbody>
</table>
