<table>
  <thead>
    <tr>
      <th>Course Name</th>
      <th>Semester</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Fundamentals of Computer Science 1</td>
      <td>Fall 2024</td>
    </tr>
    <tr>
      <td>Discrete Structures</td>
      <td>Fall 2024</td>
    </tr>
    <tr>
      <td>Intensive Mathematical Reasoning</td>
      <td>Fall 2024</td>
    </tr>
    <tr>
      <td>Fundamentals of Computer Science 2</td>
      <td>Spring 2025</td>
    </tr>
    <tr>
      <td>Linear Algebra</td>
      <td>Spring 2025</td>
    </tr>
    <tr>
      <td>Object-Oriented Design</td>
      <td>Fall 2025</td>
    </tr>
    <tr>
      <td>Algorithms & Data</td>
      <td>Fall 2025</td>
    </tr>
    <tr>
      <td>Calculus 3</td>
      <td>Fall 2025</td>
    </tr>
    <tr>
      <td>Probability and Statistics</td>
      <td>Fall 2025</td>
    </tr>
  </tbody>
</table>
