<header>
  <nav id="menu">
    <style></style>
    <ul>
      <li class="link home" id="name">
        <a href="/?visited=true">Mihir Patankar</a>
      </li>
      <li id="spacer" style="flex-grow: 1" />
      <li class="link"><a href="/education">Education</a></li>
      <li class="link"><a href="/projects">Projects</a></li>
      <li class="link"><a href="/contact">Contact</a></li>
      <li id="hamburger-menu-toggle">
        <button id="hamburger-menu-toggle-button">☰</button>
      </li>
    </ul>
  </nav>
  <nav id="hamburger-menu">
    <ul>
      <li>
        <a href="/?visited=true">Mihir Patankar</a>
      </li>
      <hr />
      <li><a href="/education">Education</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>
</header>
